In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from datasets import Dataset, DatasetDict

df = pd.read_csv('data/data_translated.csv')

train_df, test_df = train_test_split(df, test_size=0.1, random_state=77)

In [6]:
train_dataset = Dataset.from_pandas(train_df)
test_dataset = Dataset.from_pandas(test_df)

dataset = DatasetDict({
    "train": train_dataset,
    "test": test_dataset
})

In [7]:
dataset

DatasetDict({
    train: Dataset({
        features: ['context', 'question', 'answer', 'translated_question', '__index_level_0__'],
        num_rows: 70719
    })
    test: Dataset({
        features: ['context', 'question', 'answer', 'translated_question', '__index_level_0__'],
        num_rows: 7858
    })
})

In [10]:
train_dataset.to_csv('data/train.csv', index=False)

Creating CSV from Arrow format:   0%|          | 0/71 [00:00<?, ?ba/s]

23600865

In [9]:
test_dataset.to_csv('data/test.csv', index=False)

Creating CSV from Arrow format:   0%|          | 0/8 [00:00<?, ?ba/s]

2626410

### Exact Match

In [8]:
def compute_exact_match(predictions, references):
    match_count = 0
    for pred, ref in zip(predictions, references):
        if pred.strip().lower() == ref.strip().lower():
            match_count += 1
    return match_count / len(predictions)

In [18]:
execution_test_df = pd.read_csv("data/execution_test_select.csv")
execution_test_df.head()

,question,sql,sql_user_filtered,result
0,Сколько я получил за последние 7 дней?,SELECT SUM(amount) FROM transactions WHERE typ...,SELECT SUM(amount) FROM transactions WHERE typ...,"[(42005761.0,)]"
1,Какие у меня были доходы в августе 2023?,SELECT * FROM transactions WHERE type = 'incom...,SELECT * FROM transactions WHERE type = 'incom...,"[(85, 'u1', 'income', 'income', 120236.0, '202..."
2,Какие у меня были доходы в октябре 2023?,SELECT * FROM transactions WHERE type = 'incom...,SELECT * FROM transactions WHERE type = 'incom...,"[(143, 'u1', 'income', 'expense', 13264.0, '20..."
3,Сколько в среднем я трачу на ресторан?,SELECT AVG(amount) FROM transactions WHERE typ...,SELECT AVG(amount) FROM transactions WHERE typ...,"[(99684.1463357252,)]"
4,Сколько я получил за последние 30 дней?,SELECT SUM(amount) FROM transactions WHERE typ...,SELECT SUM(amount) FROM transactions WHERE typ...,"[(157382139.0,)]"